@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.Moves {
    list-style: none;
    width: 50%;
}

.moveButton {
    font-size: 0.7rem;
    font-family: "Press Start 2P";
    border: 0.2rem solid white;
    width: 100%;
    padding: 1rem;
    background: white;
}

.moveButton:hover {
    border: 0.2rem solid black;
    cursor: pointer;
}

.MoveDetails {
    display: flex;
    justify-content: space-between;
}

.MoveStats {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.Info-Board {
    border: 0.2rem solid black;
    margin-top: 1rem;
}

.Attack-Info {
    padding: 2rem 0;
}